[managers]
%{ for key, value in nodes ~}
%{ if value.tags.*[0] == "manager" ~}
${key} ansible_host=${value.ip_address}
%{ endif ~}
%{ endfor ~}

[workers]
%{ for key, value in nodes ~}
%{ if value.tags.*[0] == "worker" ~}
${key} ansible_host=${value.ip_address}
%{ endif ~}
%{ endfor ~}

[swarm:children]
managers
workers

[all:vars]
ansible_ssh_common_args="-o StrictHostKeyChecking=accept-new"
ansible_python_interpreter=/usr/bin/python3
